#container {
  background-color: #b5cef7;
  border: 2px solid black;
  height: 300px;
  width: 225px;
}

html {
  background-color: cornflowerblue;
}

label {
  display: block;
  font: 1rem "Fira Sans", sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}

input#url-input {
  margin-bottom: 0px;
}

#form {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}

#submit-button {
  margin: 10px auto;
  background-color: #5e97f2;
  border: 1px solid;
  border-color: black;
  width: fit-content;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#submit-button:hover {
  background-color: white;
  color: #5e97f2;
}

h1 {
  text-align: center;
}
#url-alert-div {
  height: 16px;
  width: auto;
  display: flex;
}
#url-alert {
  margin: 0 auto;
  animation: blinker .2s linear 3;
}



@keyframes blinker {
  50% {
    opacity: 0;
  }
}