#container {
  background-color: rgb(122, 11, 26);
  border: 2px solid black;
  height: 300px;
  width: 225px;
}

html {
  background-color: cornflowerblue;
}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}

#form {
  display: flex;
  flex-direction: column;
}

#submit-button {
  margin: 10px auto;
  width: 100px;
}