html {
  background-color: cornflowerblue;
}
#container {
  background-color: #b5cef7;
  border: 2px solid black;
  height: 425px;
  width: 250px;
}

label {
  display: block;
  font: 1rem "Fira Sans", sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}

input#url-input {
  margin-bottom: 0px;
}

#form {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}

#submit-button {
  margin: 10px auto;
  background-color: #5e97f2;
  border: 1px solid;
  border-color: black;
  width: fit-content;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#submit-button:hover {
  background-color: white;
  color: #5e97f2;
}

h1 {
  text-align: center;
}
#url-alert-div {
  height: 16px;
  width: auto;
  display: flex;
}
#url-alert {
  margin: 0 auto;
  animation: blinker 0.2s linear 3;
}

#meetings-list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 87%;
  height: 55%;
  border: 2px solid black;
  background-color: rgb(204, 205, 255);
  margin: 0 auto;
  padding: 5px;
}

.li-div {
  display: flex;
}

.meeting-li {
  width: 89%;
}

#remove-li {
  width: 20px;
  height: 20px;
  padding: 0px;
  background-color: #5e97f2;
  color: white;
}
#remove-li:hover {
  background-color: white;
  color: #5e97f2;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
